extends layout

block content
  h1= title
  div(class="main")
    p Effortlessly manage your inventory with real-time tracking. Get started with our easy-to-use app!
    
    p There are currently 
      span= items_count 
      |  items and 
      span= categories_count 
      |  categories
