extends layout

block content
  h1= title
  if item_list.length
    .grid
      each item in item_list
        .card
          a(href=item.url)
            img(src=item.image, alt="movie poster")
            p #{item.name}
  else
    p No items!