body {
  width: 100%;
  min-height: 100vh;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #FEFBD8;
  color: #EECEB9;
}

a {
  color: #EECEB9;
}

a:hover {
  color: #BB9AB1;
}

img {
  width: 200px;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
  font-weight: bold;
  font-size: 2em;
}

.main {
  font-size: 1.5em;
  margin-top: 50px;
}

span {
  font-weight: bold;
}

.category {
  font-size: 1.2em;
}

.category::marker {
  content: "\2605";
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  padding: 10px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  gap: 10px;
}

a {
  text-align: center;
}

.item-container {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  align-items: center;
}

.delete-update {
  margin-top: 30px;
  font-weight: bold;
}

label {
  font-weight: bold;
  font-size: 1.2em;
}

input, select, .form-control {
  max-width: 50%;
  background-color: #eeceb94b;
}

button, 
.btn, 
.btn-primary, 
.btn.btn-primary:hover, 
.btn.btn-primary::selection, 
.btn.btn-primary:focus {
  background-color: #EECEB9;
  border: none;
  color: white;
  font-weight: bold;
}
